@font-face {
  font-family: 'comic_serif_proregular';
  src: url('../fonts/comic_serif_pro-webfont.woff2') format('woff2'),
           url('../fonts/comic_serif_pro-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/** {
  border: solid 1px black;
}*/

figure {
  margin-bottom: 0;
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar {
  background: url('../images/connect.png');
  font-family: 'Helvetica Neue';
  box-shadow: 0px 1px 3px #2a2a2a;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  padding-top: 10px;
  font-family: 'Helvetica Neue';
}

.navbar-inverse a.navbar-brand {
  font-family: 'Helvetica Neue';
  font-weight: 400;
}

.about {
  background: url('../images/swirl.png') repeat;
  box-shadow: 0 5px 5px -5px #2a2a2a;
  padding-bottom: 40px;
}

.column-custom {
  margin-top: 20em;
  background-color: rgba(216,210,184, 0.6);
  border-radius: 10px;
  font-family: 'comic_serif_proregular';
}

.name {
  font-size: 3rem;
}

.box {
  border: solid 1px black;
  box-shadow: 0 0 5px #2a2a2a;
}

.scrollview {
  margin-top: 40px;
}

.projects {
  /*background: url('../images/hex.png') repeat;*/
  background-color: white;
  /*box-shadow: 0 5px 5px -5px #2a2a2a;*/
}

.bar {
  border-top: 5px double;
  border-bottom: none;
  border-right: none;
}

.footer {
  color: white;
  background: url('../images/connect.png');
  font-weight: 200;
  padding-bottom: 30px;
}

@media screen and (min-width: 416px) and (max-width: 768px) {
  .column-custom {
    margin-top: 10vh;
  }

  .name {
    font-size: 2em;
  }
}

@media screen and (max-width: 415px) {
  .column-custom {
    margin-top: 5vh;
  }

  .name {
    font-size: 2em;
  }
}


